@media only screen and (min-width:200px) and (max-width:575px) {

    .m_container_minWidth {
        width: 50%;
    }

    .m_textColor {
        color: black;
    }

    .m_list {
        display: flex;
        justify-content: space-between;
        margin: 15px 10px;
    }

    .m_img_down_arrow {

        background-color: black;
        color: black;
    }
    .m_secondContainer {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

@media (max-width: 991px) {
    .m_secondContainer {
        padding-top: 0px;
        padding-bottom: 80px;
    }
 
}